<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">IDENTITY APP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/play" routerLinkActive="active"> Play </a>
          </li>
        </ul>

        <div class="d-flex" *ngIf="(accountService.user$ | async) === null">
            <button class="btn btn-light me-2" routerLink="/account/register" routerLinkActive="active"> Tạo tài khoản </button>
            <button class="btn btn-light" routerLink="/account/login" routerLinkActive="active"> Đăng nhập </button>
        </div>

        <div class="d-flex align-items-center" *ngIf="(accountService.user$ | async) as user">
          <a class="text-white fs-5" style="text-decoration: none; cursor: pointer;">
            Hi <span class="fw-bold">{{user.firstName | titlecase}}</span>
          </a>
          <a class="btn btn-secondary ms-2" (click)="logout()">Đăng xuất</a>
        </div>

      </div>
    </div>
  </nav>